

<div class="heading">
    <h1 class="main">Online Assessment System</h1>
    <br>
    <h2>( Make Online Eduction Efficient )</h2>
</div>
<nav>
    <div class="logo">
       <a href="/"> HOME</a>
    </div>
    <div class="links">
     <a href="/login">LOGIN</a>
     <a href="/signup">SIGN UP</a>
    <a href="/contactus">CONTECT US</a>

  </div>
</nav>

