

<div class="heading">
    <h1 class="main">Online Assessment System</h1>
    <br>
    <h2>( Make Online Eduction Efficient )</h2>
</div>
<nav>
    <div class="logo">
        <a href="/teacherdashboard">DashBoard</a>
    </div>
    <div class="links">
        <a href="/createquiz">Create Quiz</a>
        <a href="/assignmentcreation">Create Assignment</a>
        <a href="/logout">Log Out</a>

  </div>
</nav>

