<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/contactus.css">
    <script src="./js/JQuery3.3.1.js"></script>

    <title>  doc</title>
   
   
</head>
<body>
    <header>

   
        <%- include('./partials/navbar.ejs')%>
       </header>




<section id="movies">
       <!-- movies -->
       <div class="movies-heading">
           <!-- <hr class="hr-line"> -->
        <h2 class="hfd">Our Team</h2>
       <!-- <hr class="hr-line"> -->
    </div>
    <section id="movies-list">
        <!-- box 1 -->
        <div class="movies-box">
            <!-- img -->
            <div class="upper"></div>
            <div class="team-img">
                <!-- <div class="quaility">HDRip</div> -->
                <img src="./img/waseem.png" alt="">
               <!-- text -->
               <br><br>
               <h3 class="name">M.Waseem</h3>
               
               <div class="icons">
                <a href=""><img src="./img/facebook.png" alt="" class="facebook-icon" ></a>
                <a href=""><img src="./img/twitter.png" alt="" class="twitter-icon"></a>
                <a href=""><img src="./img/whatsapp.png" alt="" class="whatsapp-icon" ></a>

               </div>
           </div>
              
        </div>

        <!-- box 2 -->
       <!-- box 1 -->
       <div class="movies-box">
        <!-- img -->
        <div class="upper"></div>
        <div class="team-img">
            <!-- <div class="quaility">HDRip</div> -->
            <img src="./img/Imtiaz.png" alt="">
           <!-- text -->
           <br><br>
           <h3 class="name">Imtiaz Hussain</h3>
      
           <div class="icons">
            <a href=""><img src="./img/facebook.png" alt="" class="facebook-icon" ></a>
           <a href=""><img src="./img/twitter.png" alt="" class="twitter-icon"></a>
           <a href=""><img src="./img/whatsapp.png" alt="" class="whatsapp-icon" ></a>

           </div>
       </div>
          
    </div>



    <div class="movies-box">
        <!-- img -->
        <div class="upper"></div>
        <div class="team-img">
            <!-- <div class="quaility">HDRip</div> -->
            <img src="./img/Imtiaz.png" alt="">
           <!-- text -->
           <br><br>
           <h3 class="name">M.Aslam Okz</h3>
        
              <div class="icons">
           <a href=""><img src="./img/facebook.png" alt="" class="facebook-icon" ></a>
           <a href=""><img src="./img/twitter.png" alt="" class="twitter-icon"></a>
           <a href=""><img src="./img/whatsapp.png" alt="" class="whatsapp-icon" ></a>

              </div>
       </div>
          
    </div>

     
    
     

    
</section>

    
</section>



<footer>
    
    <div class="left"><p>Developed by IWA</p></div>
    <div class="right"><p>Copyright @2020</p></div>

   
</footer>

<script src="./js/contactus.js"></script>







</body>
</html>