@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 :root{
  --darkcolor:#161616;
  --bodycolor:#EDf5fe;
  --yellowish:#fabc3d;
 }
 html {
    font-size: 62.5%;
  }
  body {
  
    background: linear-gradient(to left,#00FFFF,#00BFFF);
   
    font-family:poppins;
  }

  .quizCode, .quizSuccess{
    height: 25rem;
    width: 60vw;
    background-color: white;
    box-shadow: 0 4.8rem 9.6rem grey;
    margin: 13rem auto 5rem auto;
   
    padding: 3rem;
    text-align: center;
  
  }


  .quizCode .btns{
    display: flex;
    justify-content: center;
    
  }
  .quizSuccess{
    display: none;
  }
  .quizSuccess h1{
    color: green;
    margin-top: 1rem;
  }
  .quizCode input[type="text"]{
 
    margin-bottom: 2rem;
    width: 63%;
    height: 4rem;
   
   
    padding: 1.6rem;
    
    border-radius: .5rem;
    border: none;
    background-color: var(--bodycolor);
    font-size: 1.6rem;
  }


.quizContiner{
  height: 30rem;
  width: 60vw;
  background-color: white;
  border-radius: 0.8rem 4.8rem 0.8rem 4.8rem;
  box-shadow: 0 4.8rem 9.6rem grey;
  margin: 13rem auto 0rem auto;
  
  display: flex;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;


}

.quizContiner h2{
  font-size: 3rem;
font-weight:600;
  margin-bottom: 1rem;
}




.quizContiner button,.quizCode input[type="submit"],.quizCode a{
  
padding: 1rem 7rem;

  margin-left: 2rem;
 border-radius: 2rem;
  text-decoration: none;

  border: none;
  background-color: var(--catageryFont);

  color: white;
  font-size: 1.6rem;
 
  cursor: pointer;
  letter-spacing: 1px;

}
.quizSuccess a{
  background-color: var(--yellowish);
 margin-top: 2rem;
  color: black;
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  width: 25%;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
margin: auto;
}
.quizContiner li{
  font-size: 2rem;

  margin-bottom: 1rem;
  color: green;
  list-style: none;
}

.notQuizTime {
  color: red;
  font-size: 2rem;
  height: 10rem;
}

.countdownContainer{
  width: 40rem;
  height: 15rem;
  background-color: white;
  color: green;
  font-size: 5rem;
  margin: auto;
  text-align: center;
  box-shadow: 0 4.8rem 9.6rem grey;

}

.countdownContainer p ~ p{
  font-size: 2rem;
  color: red;
  font-weight: bold;

}


.text p{
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text h2{
font-size: 3.2rem;
  color: var(--crimson);
  margin-bottom: 1rem;
}